@import 'https://unpkg.com/swiper/swiper-bundle.min.css';
.gallery {
  padding: 100px 0 40px;
}
.gallery .gallery-content {
  width: 92.5%;
  display: block;
  margin: 0 auto;
  height: 100%;
}
.gallery .gallery-content .gallery-content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gallery .gallery-content .gallery-content_wrapper h2 {
  font-size: 28px;
  line-height: 14px;
  text-transform: uppercase;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters {
  display: flex;
  gap: 16px;
  align-items: center;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters .gallery-filters_list {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters .gallery-filters_list li {
  padding: 8px 12px;
  border: 1px solid #E4B271;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters .gallery-filters_list li a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper {
  position: relative;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container {
  width: 100%;
  overflow: hidden;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .swiper-wrapper {
  display: flex;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 1;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-prev,
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-next {
  display: flex;
  padding: 8px;
  cursor: pointer;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-prev {
  left: 0;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-next {
  right: 0;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination {
  position: absolute;
  bottom: 24px;
  left: 16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--text {
  display: flex;
  gap: 10px;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--text p {
  font-size: 64px;
  text-transform: uppercase;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--text .current {
  font-weight: bold;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--filter p {
  font-size: 20px;
  line-height: 14px;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--bullets {
  display: flex;
  gap: 4px;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--bullets .gallery-images_swiper-pagination-bullet {
  width: 64px;
  height: 2px;
  background: white;
  cursor: pointer;
  transition: 0.3s linear;
}

/*# sourceMappingURL=gallery.module.css.map */
