.info {
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin: 0 auto;
  background-color: #FBFAF7;
  padding-bottom: 338px;
}
.info .info-img-text {
  display: flex;
  flex-direction: column;
  gap: 108px;
}
.info .info-img {
  width: 90%;
  height: 700px;
  margin-left: auto;
  margin-top: -85px;
}
.info .info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.info .info-img-responsive {
  display: none;
}
.info .info-1-text {
  width: 70%;
  margin: 0 auto;
}
.info .info-1-text h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.info .info-1-text p {
  color: #000;
  font-size: 16px;
  line-height: 27.2px;
}
.info .info-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.info .info-1-all {
  display: flex;
  position: relative;
  flex-direction: row;
}
.info .info-1-all:nth-child(odd) {
  flex-direction: row-reverse;
}
.info .info-1-all:nth-child(odd) .info-1-all-image {
  left: unset;
  right: 0;
}
.info .info-1-all:nth-child(odd) .info-1-all-text {
  margin-right: auto;
  margin-left: unset;
  border-right: 1px solid #E4B271;
  border-left: none;
  align-items: flex-start;
}
.info .info-1-all .info-1-all-image {
  width: 50%;
  height: 420px;
  position: absolute;
  z-index: 3;
  top: -7%;
}
.info .info-1-all .info-1-all-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.info .info-1-all .info-1-all-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 800px;
  height: 358px;
  margin-left: auto;
  border-top: 1px solid #E4B271;
  border-bottom: 1px solid #E4B271;
  border-left: 1px solid #E4B271;
  padding: 44px 58px;
  align-items: flex-end;
}
.info .info-1-all .info-1-all-text h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  width: 80%;
}
.info .info-1-all .info-1-all-text p {
  color: #000;
  line-height: 27.2px;
  font-size: 16px;
}
.info .info-1-all .info-1-all-text p:nth-of-type(odd) {
  width: 80%;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .info {
    gap: 40px;
  }
  .info .info-img-text {
    gap: 40px;
  }
  .info .info-img-text .info-img {
    display: none;
  }
  .info .info-img-text .info-img-responsive {
    display: flex;
    width: 100%;
    background: lightgray 50%/cover no-repeat;
  }
  .info .info-img-text .info-img-responsive img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info .info-img-text .info-1-text {
    width: 95%;
  }
  .info .info-1-all {
    flex-direction: column;
    gap: 40px;
    height: auto;
  }
  .info .info-1-all .info-1-all-image {
    width: 100%;
    position: static;
    height: auto;
  }
  .info .info-1-all .info-1-all-text {
    width: 95%;
    height: auto;
    margin: 0 auto;
    border: none;
    padding: 0;
    align-items: flex-start;
  }
  .info .info-1-all .info-1-all-text h3 {
    width: 100%;
  }
  .info .info-1-all .info-1-all-text p {
    width: 100% !important;
  }
  .info .info-1-all:nth-child(odd) .info-1-all-text {
    width: 95%;
    height: auto;
    margin: 0 auto;
    border: none;
    padding: 0;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=info.module.css.map */
