.main-container {
  background: linear-gradient(180deg, rgba(12, 17, 54, 0) 61.4%, rgba(12, 17, 54, 0.4) 93.88%), url("../images/hero-home.png") lightgray 50%/cover no-repeat;
}
.main-container .nav-container {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(11, 25, 49, 0.48) 67.5%, rgba(0, 0, 9, 0.8) 100%);
}
.main-container .phone,
.main-container .phone-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.main-container .phone p,
.main-container .phone-link p {
  margin: 0;
  letter-spacing: 0.588px;
  color: #E4B271;
  font-size: 14.694px;
}
.main-container .screen-nav {
  display: flex;
  align-items: center;
  width: 63%;
}
.main-container .screen-nav ul {
  list-style: none;
  display: flex;
  margin: 0 24px 0 0;
  flex-grow: 1;
  justify-content: space-between;
}
.main-container .screen-nav ul li {
  padding: 12px 10px;
}
.main-container .screen-nav ul li a {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
.main-container .banner-bg {
  position: relative;
  width: 90%;
  min-height: 75vh;
}
.main-container .banner-bg .banner-content {
  position: absolute;
  bottom: 0%;
  transform: translateY(60%);
  left: 10%;
}
.main-container .banner-bg .banner-content h1,
.main-container .banner-bg .banner-content p {
  margin-bottom: 24px;
}
.main-container .banner-bg .banner-content h1 {
  font-size: 72px;
  line-height: 100%;
  text-transform: uppercase;
}
.main-container .banner-bg .banner-content h1 span {
  color: #E4B271;
}
.main-container .banner-bg .banner-content p {
  font-size: 16px;
  line-height: 1.5;
  width: 60%;
}
.main-container .banner-bg .banner-content .banner-btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 12px;
  border-bottom: 1px solid #E4B271;
}

/* Mobile Styles */
.mobile-nav,
.banner-bg-mobile,
.banner-text {
  display: none;
}

.hamburger-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  padding: 0;
}
.hamburger-btn .hamburger-line {
  background-color: #E4B271;
  height: 3px;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

@media screen and (max-width: 878px) {
  .nav-container {
    display: none !important;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #fff;
  }
  .mobile-nav .mobile-screen-nav {
    display: none;
    background-color: #000;
    padding: 16px;
    width: 50%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-name: slideOut;
  }
  .mobile-nav .mobile-screen-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mobile-nav .mobile-screen-nav ul li {
    padding: 10px 0;
  }
  .mobile-nav .mobile-screen-nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }
  .mobile-nav .mobile-screen-nav .phone {
    display: flex;
    align-items: center;
  }
  .mobile-nav .mobile-screen-nav .phone a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .mobile-nav .mobile-screen-nav .phone a p {
    margin: 0;
    letter-spacing: 0.588px;
    color: #E4B271;
    font-size: 14.694px;
  }
  .mobile-nav.open .mobile-screen-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: slideIn;
  }
  .banner-bg {
    display: none;
  }
  .banner-bg-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }
  .banner-bg-mobile .banner-bg-mobile-img {
    background: linear-gradient(180deg, rgba(12, 17, 54, 0) 61.4%, rgba(12, 17, 54, 0.4) 93.88%), url("../images/banner-bg.png") lightgray 50%/cover no-repeat;
    padding-top: 70%;
  }
  .banner-bg-mobile .banner-text {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 56px auto;
  }
  .banner-bg-mobile .banner-text h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    margin-bottom: 24px;
    font-weight: 400;
  }
  .banner-bg-mobile .banner-text h1 span {
    color: #E4B271;
    font-weight: bold;
  }
  .banner-bg-mobile .banner-text p {
    margin: 24px auto;
    text-align: center;
  }
  .banner-bg-mobile .banner-text .banner-btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    padding: 12px;
    border-bottom: 1px solid #E4B271;
  }
}
@media screen and (min-width: 1055px) and (max-width: 1230px) {
  .screen-nav {
    justify-content: flex-end;
  }
  .hamburger-btn {
    order: 1;
  }
}
@media screen and (min-width: 879px) and (max-width: 1054px) {
  .screen-nav {
    width: 100%;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.project {
  text-align: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.project h2 {
  margin-bottom: 100px;
  margin-top: 140px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}
.project .project-statics {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.project .project-statics .project-static .count {
  font-size: 72px;
  color: #68C5F9;
  text-align: right;
  margin-bottom: 12px;
  line-height: 72px;
}
.project .project-statics .project-static .count span {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.project .project-statics .project-static p {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-top: 4px;
  line-height: 14px;
}

@media screen and (max-width: 768px) {
  .project {
    padding-top: 0px !important;
  }
  .project h2 {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .project .project-static {
    margin-top: 56px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin: 0 auto;
  background-color: #FBFAF7;
  padding-bottom: 338px;
}
.info .info-img-text {
  display: flex;
  flex-direction: column;
  gap: 108px;
}
.info .info-img-text .info-img {
  width: 90%;
  height: 700px;
  margin-left: auto;
  margin-top: -85px;
}
.info .info-img-text .info-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.info .info-img-text .info-img-responsive {
  display: none;
}
.info .info-img-text .info-1-text {
  width: 80%;
  margin: 0 auto;
}
.info .info-img-text .info-1-text h3, .info .info-img-text .info-1-text p {
  color: #000;
  font-size: 16px;
  margin-bottom: 16px;
}
.info .info-img-text .info-1-text h3 {
  font-weight: 600;
  line-height: 27.2px;
  width: 80%;
}
.info .info-img-text .info-1-text p {
  line-height: 27.2px;
}
.info .info-img-text .info-1-text p:nth-of-type(odd) {
  width: 80%;
  align-items: flex-start;
}
.info .info-1-all {
  display: flex;
  position: relative;
  flex-direction: row;
}
.info .info-1-all:nth-child(odd) {
  flex-direction: row-reverse;
}
.info .info-1-all:nth-child(odd) .info-1-all-image {
  left: unset;
  right: 0;
}
.info .info-1-all:nth-child(odd) .info-1-all-text {
  margin-right: auto;
  margin-left: unset;
  border: 1px solid #E4B271;
  align-items: flex-start;
}
.info .info-1-all .info-1-all-image {
  width: 50%;
  height: 420px;
  position: absolute;
  z-index: 3;
  top: -7%;
}
.info .info-1-all .info-1-all-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.info .info-1-all .info-1-all-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 800px;
  height: 358px;
  margin-left: auto;
  border: 1px solid #E4B271;
  padding: 44px 58px;
  align-items: flex-end;
}
.info .info-1-all .info-1-all-text h3, .info .info-1-all .info-1-all-text p {
  color: #000;
}
.info .info-1-all .info-1-all-text h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  width: 80%;
}
.info .info-1-all .info-1-all-text p {
  font-size: 16px;
  line-height: 27.2px;
}
.info .info-1-all .info-1-all-text p:nth-of-type(odd) {
  width: 80%;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .info {
    gap: 40px;
    padding-bottom: 200px;
  }
  .info .info-img-text {
    gap: 40px;
  }
  .info .info-img-text .info-img {
    display: none;
  }
  .info .info-img-text .info-img-responsive {
    display: flex;
    width: 100%;
    background: lightgray 50%/cover no-repeat;
  }
  .info .info-img-text .info-img-responsive img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .info .info-img-text .info-1-text {
    width: 95%;
  }
  .info .info-img-text .info-1-text p {
    width: 100% !important;
  }
  .info .info-1-all {
    flex-direction: column;
    gap: 40px;
    height: auto;
  }
  .info .info-1-all .info-1-all-image {
    width: 100%;
    position: static;
    height: auto;
  }
  .info .info-1-all .info-1-all-text {
    width: 95%;
    height: auto;
    margin: 0 auto;
    border: none;
    padding: 0;
    align-items: flex-start;
  }
  .info .info-1-all .info-1-all-text h3 {
    width: 80%;
  }
  .info .info-1-all .info-1-all-text p {
    width: 100% !important;
  }
  .info .info-1-all:nth-child(odd) .info-1-all-text {
    width: 95%;
    height: auto;
    margin: 0 auto;
    border: none;
    padding: 0;
    align-items: flex-start;
  }
  .info .info-1-all:nth-child(odd) .info-1-all-text p {
    width: 100%;
  }
}

.advantages-content {
  display: flex;
  flex-direction: column;
  gap: 58px;
  margin: -120px 56px 96px 0;
  padding-top: 100px;
  background-color: #12274C;
}
.advantages-content h2 {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 14px;
  font-weight: 500;
}
.advantages-content .advantages-content-all {
  display: flex;
  gap: 150px;
  padding-top: 50px;
}
.advantages-content .advantages-1-all {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
}
.advantages-content .advantages-1-all:nth-child(even) {
  flex-direction: row-reverse;
}
.advantages-content .advantages-1-all:nth-child(even) .advantages-1-all-text {
  margin-right: auto;
  margin-left: unset;
  align-items: flex-start;
}
.advantages-content .advantages-1-all .advantages-1-all-image {
  width: 50%;
  height: 420px;
  position: absolute;
  z-index: 3;
  top: -7%;
}
.advantages-content .advantages-1-all .advantages-1-all-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}
.advantages-content .advantages-1-all .advantages-1-all-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 800px;
  height: 358px;
  margin-left: auto;
  border: 1px solid #E4B271;
  padding: 44px 58px;
  align-items: flex-end;
}
.advantages-content .advantages-1-all .advantages-1-all-text h3, .advantages-content .advantages-1-all .advantages-1-all-text p {
  color: #fff;
  width: 75%;
}
.advantages-content .advantages-1-all .advantages-1-all-text h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.advantages-content .advantages-1-all .advantages-1-all-text p {
  line-height: 27.2px;
}
.advantages-content .advantages-icons {
  display: flex;
  width: 92.5%;
  margin: 100px auto 92px;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}
.advantages-content .advantages-icons ul {
  display: flex;
  gap: 32px;
}
.advantages-content .advantages-icons ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
}
@media screen and (max-width: 1024px) {
  .advantages-content {
    margin-right: 0;
    gap: 40px;
  }
  .advantages-content .advantages-content-all {
    gap: 50px;
  }
  .advantages-content .advantages-1-all {
    flex-direction: column;
    height: auto;
  }
  .advantages-content .advantages-1-all .advantages-1-all-image {
    width: 100%;
    position: static;
    height: auto;
  }
  .advantages-content .advantages-1-all .advantages-1-all-text {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 120px;
    border-top: none;
  }
  .advantages-content .advantages-1-all .advantages-1-all-text h3 {
    width: 100%;
    margin-top: 20px;
  }
  .advantages-content .advantages-1-all .advantages-1-all-text p {
    width: 100%;
  }
  .advantages-content .advantages-1-all:nth-child(even) .advantages-1-all-text {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 768px) {
  .advantages-content .advantages-icons {
    margin: 0 auto 92px;
  }
  .advantages-content .advantages-icons-content {
    flex-direction: column;
    margin: 64px auto 0;
    width: 90%;
    align-items: center;
  }
  .advantages-content .advantages-icons-content li {
    width: 40%;
    text-align: center;
  }
}

/* Add any SCSS styles here */
.location {
  display: block;
  margin: 0 auto;
  padding-bottom: 64px;
  width: 100%;
}
.location-title {
  width: fit-content;
  display: block;
  margin: 0 auto 100px;
  padding-top: 22px;
}
.location-title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}
.location-content {
  height: 100vh;
  width: 100%;
  position: relative;
}
.location-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.gallery {
  padding: 100px 0 40px;
}
.gallery .gallery-content {
  width: 92.5%;
  display: block;
  margin: 0 auto;
  height: 100%;
}
.gallery .gallery-content .gallery-content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gallery .gallery-content .gallery-content_wrapper h2 {
  font-size: 28px;
  line-height: 14px;
  text-transform: uppercase;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters {
  display: flex;
  gap: 16px;
  align-items: center;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters .gallery-filters_list {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style: none;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters .gallery-filters_list li {
  padding: 8px 12px;
  border: 1px solid #E4B271;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-filters .gallery-filters_list li a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper {
  position: relative;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container {
  position: relative;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .swiper-wrapper {
  display: flex;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  z-index: 1;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-prev,
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-next {
  padding: 8px;
  cursor: pointer;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-prev {
  left: 0;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-navigation .gallery-images_swiper-navigation-next {
  right: 0;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination {
  position: absolute;
  bottom: 24px;
  left: 16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 1;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--text {
  display: flex;
  gap: 10px;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--text p {
  font-size: 64px;
  text-transform: uppercase;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--text span {
  font-size: 64px;
  position: relative;
  top: -20px;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--filter p {
  font-size: 20px;
  line-height: 14px;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--bullets {
  display: flex;
  gap: 4px;
}
.gallery .gallery-content .gallery-content_wrapper .gallery-images_swiper .gallery-imager_swiper-container .gallery-images_swiper-pagination--bullets .gallery-images_swiper-pagination-bullet {
  width: 64px;
  height: 2px;
  background: white;
  cursor: pointer;
  transition: 0.3s linear;
}

.footer-section {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
}
.footer-section .footer-content {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer-section .footer-content .inner-footer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.footer-section .footer-content .inner-footer .left-footer {
  width: 25%;
}
.footer-section .footer-content .inner-footer .left-footer svg {
  margin-bottom: 48px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-contacts {
  margin-bottom: 48px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-contacts h3 {
  text-transform: uppercase;
  margin-bottom: 48px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-contacts .left-footer-contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-contacts .left-footer-contact-info .contact-info-item-left p:nth-child(2) {
  margin-bottom: 30px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-contacts .left-footer-contact-info .contact-info-item-left p:nth-child(3) {
  margin-bottom: 25px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-contacts .left-footer-contact-info .contact-info-item-left p,
.footer-section .footer-content .inner-footer .left-footer .left-footer-contacts .left-footer-contact-info .contact-info-item-right p {
  font-weight: 300;
  margin-bottom: 5px;
}
.footer-section .footer-content .inner-footer .left-footer .social-icons {
  display: flex;
  gap: 16px;
}
.footer-section .footer-content .inner-footer .left-footer .social-icons img {
  width: 24px;
  height: 24px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-nav {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-nav h3 {
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-nav ul {
  list-style: none;
  flex-direction: column;
  gap: 10px;
}
.footer-section .footer-content .inner-footer .left-footer .left-footer-nav ul li {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-section .footer-content .inner-footer .right-footer {
  width: 53%;
}
.footer-section .footer-content .inner-footer .right-footer h2 {
  font-size: 20px;
  margin-bottom: 64px;
}
.footer-section .footer-content .inner-footer .right-footer form {
  display: flex;
}
.footer-section .footer-content .inner-footer .right-footer form label {
  font-size: 12px;
  font-weight: 400;
  line-height: 148%;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 14px;
  margin-top: 24px;
}
.footer-section .footer-content .inner-footer .right-footer form label span {
  color: red;
}
.footer-section .footer-content .inner-footer .right-footer form input[type=text],
.footer-section .footer-content .inner-footer .right-footer form input[type=tel],
.footer-section .footer-content .inner-footer .right-footer form input[type=email],
.footer-section .footer-content .inner-footer .right-footer form textarea {
  width: 100%;
  padding: 14px 12px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(228, 178, 113, 0.3);
}
.footer-section .footer-content .inner-footer .right-footer form textarea#message {
  border: 1px solid rgba(228, 178, 113, 0.3);
  margin-bottom: 24px;
}
.footer-section .footer-content .inner-footer .right-footer form input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  top: 5px;
}
.footer-section .footer-content .inner-footer .right-footer form input[type=checkbox]:checked {
  background-color: #E4B271;
}
.footer-section .footer-content .inner-footer .right-footer form input[type=checkbox]::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.footer-section .footer-content .inner-footer .right-footer form input[type=checkbox]:checked::after {
  content: "";
  display: block;
  width: 16px;
  height: 17px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none"><rect width="16" height="16" transform="translate(0 0.5)" fill="%23E4B271"/><path d="M5.70457 11.2734L3.21934 8.78986C2.94002 8.51074 2.48881 8.51074 2.20949 8.78986C1.93017 9.06899 1.93017 9.51988 2.20949 9.799L5.20322 12.7907C5.48254 13.0698 5.93375 13.0698 6.21307 12.7907L13.7905 5.21849C14.0698 4.93936 14.0698 4.48847 13.7905 4.20934C13.5112 3.93022 13.06 3.93022 12.7807 4.20934L5.70457 11.2734Z" fill="black" stroke="black" stroke-width="1.5" /></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 1px;
}
.footer-section .footer-content .inner-footer .right-footer form #terms {
  font-family: "Inter", sans-serif;
  text-transform: none;
  padding: 5px;
  margin: 0;
}
.footer-section .footer-content .inner-footer .right-footer form #terms a {
  text-decoration: underline;
}
.footer-section .footer-content .inner-footer .right-footer .sent {
  margin-top: 64px;
  width: 40%;
  margin-bottom: 50px;
}
.footer-section .down-footer {
  width: 100%;
  padding: 19px 0;
}
.footer-section .down-footer .inner-down-footer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
}
.footer-section .down-footer .inner-down-footer p {
  font-size: 10px;
  line-height: 9.95px;
  letter-spacing: 0.956px;
  text-transform: uppercase;
}
.footer-section .down-footer .inner-down-footer ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
.footer-section .down-footer .inner-down-footer ul li {
  font-size: 11px;
  font-weight: 400;
  line-height: 15.95px;
}
.footer-section .footer-line {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  width: 100vw;
  position: absolute;
  bottom: 1%;
  margin: 0;
  padding: 0;
}
.footer-section .mobile-down-footer {
  display: none;
}

@media screen and (max-width: 768px) {
  .inner-footer {
    flex-direction: column;
    width: 100%;
    padding: 16px;
  }
  .inner-footer .left-footer,
  .inner-footer .right-footer {
    width: 100%;
    margin-bottom: 40px;
    margin: 50px 0;
    margin-right: 0;
  }
  .inner-footer .left-footer p,
  .inner-footer .right-footer p {
    text-align: left;
  }
  .inner-footer .right-footer {
    order: -1;
  }
  .sent {
    width: 70%;
    margin: 64px auto 50px;
  }
  .footer-line,
  .down-footer {
    display: none;
  }
  .mobile-down-footer {
    display: flex;
    padding: 19px 16px;
    margin: 0 auto;
    justify-content: center;
    justify-content: space-between;
  }
  .mobile-down-footer p {
    margin: 0;
    font-size: 11px;
    margin-bottom: 16px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: Montserrat;
  color: #fff;
  font-style: normal;
}

body {
  background-color: #0B1931;
  border-radius: 8px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
}

.section {
  max-width: 1920px;
  width: 93%;
  display: flex;
  padding-top: 150px;
  margin: 0 auto;
  background-color: #0B1931;
}

.btn {
  color: #0B1931;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  height: 40px;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #E4B271;
  border: none;
}
.btn:hover {
  transition: 0.3s ease-in-out;
  background-color: #dc9b46;
}

.specColor {
  color: #E4B271;
  font-weight: 600;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 14px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/*# sourceMappingURL=styles.module.css.map */
