header {
  /* Mobile Styles */
}
header .main-container {
  background: linear-gradient(180deg, rgba(12, 17, 54, 0) 61.4%, rgba(12, 17, 54, 0.4) 93.88%), url("../images/hero-home.png") lightgray 50%/cover no-repeat;
}
header .main-container .container {
  justify-content: space-between;
  padding: 16px 24px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(11, 25, 49, 0.48) 67.5%, rgba(0, 0, 9, 0.8) 100%);
}
header .main-container .phone,
header .main-container .phone-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .main-container .phone p,
header .main-container .phone-link p {
  margin: 0;
  letter-spacing: 0.588px;
  color: #E4B271;
  font-size: 14.694px;
}
header .main-container .screen-nav {
  display: flex;
  align-items: center;
  width: 63%;
}
header .main-container .screen-nav ul {
  list-style: none;
  display: flex;
  margin: 0 24px 0 0;
  flex-grow: 1;
  justify-content: space-between;
}
header .main-container .screen-nav ul li {
  padding: 12px 10px;
}
header .main-container .screen-nav ul li a {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
header .main-container .banner-bg {
  position: relative;
  width: 90%;
  min-height: 75vh;
}
header .main-container .banner-bg .banner-content {
  position: absolute;
  bottom: 0%;
  transform: translateY(60%);
  left: 10%;
}
header .main-container .banner-bg .banner-content h1,
header .main-container .banner-bg .banner-content p {
  margin-bottom: 24px;
}
header .main-container .banner-bg .banner-content h1 {
  font-size: 72px;
  line-height: 100%;
  text-transform: uppercase;
}
header .main-container .banner-bg .banner-content h1 span {
  color: #E4B271;
}
header .main-container .banner-bg .banner-content p {
  font-size: 16px;
  line-height: 1.5;
  width: 60%;
}
header .main-container .banner-bg .banner-content .banner-btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  padding: 12px;
  border-bottom: 1px solid #E4B271;
}
header .mobile-nav,
header .banner-bg-mobile,
header .banner-text {
  display: none;
}
header .hamburger-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 24px;
  padding: 0;
}
header .hamburger-btn .hamburger-line {
  background-color: #E4B271;
  height: 3px;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}
@media screen and (max-width: 878px) {
  header .nav-container,
  header .container {
    display: none !important;
  }
  header .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    background-color: #fff;
  }
  header .mobile-nav .mobile-screen-nav {
    display: none;
    background-color: #000;
    padding: 16px;
    width: 50%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    flex-direction: column;
    align-items: center;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-name: slideOut;
  }
  header .mobile-nav .mobile-screen-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  header .mobile-nav .mobile-screen-nav ul li {
    padding: 10px 0;
  }
  header .mobile-nav .mobile-screen-nav ul li a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
  }
  header .mobile-nav .mobile-screen-nav .phone {
    display: flex;
    align-items: center;
  }
  header .mobile-nav .mobile-screen-nav .phone a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  header .mobile-nav .mobile-screen-nav .phone a p {
    margin: 0;
    letter-spacing: 0.588px;
    color: #E4B271;
    font-size: 14.694px;
  }
  header .mobile-nav.open .mobile-screen-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: slideIn;
  }
  header .banner-bg {
    display: none;
  }
  header .banner-bg-mobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
  }
  header .banner-bg-mobile .banner-bg-mobile-img {
    background: linear-gradient(180deg, rgba(12, 17, 54, 0) 61.4%, rgba(12, 17, 54, 0.4) 93.88%), url("../images/banner-bg.png") lightgray 50%/cover no-repeat;
    padding-top: 70%;
  }
  header .banner-bg-mobile .banner-text {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 56px auto;
  }
  header .banner-bg-mobile .banner-text h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    margin-bottom: 24px;
  }
  header .banner-bg-mobile .banner-text h1 span {
    color: #E4B271;
  }
  header .banner-bg-mobile .banner-text p {
    margin: 24px auto;
    text-align: center;
  }
  header .banner-bg-mobile .banner-text .banner-btn {
    background: transparent;
    border: none;
    text-transform: uppercase;
    padding: 12px;
    border-bottom: 1px solid #E4B271;
  }
}
@media screen and (min-width: 1055px) and (max-width: 1230px) {
  header .screen-nav {
    justify-content: flex-end;
  }
  header .hamburger-btn {
    order: 1;
  }
}
@media screen and (min-width: 879px) and (max-width: 1054px) {
  header .screen-nav {
    width: 100%;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
.project {
  text-align: center;
  flex-direction: column;
}
.project h2 {
  margin-bottom: 100px;
  margin-top: 140px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}
.project .project-statics {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.project .project-statics .project-static .count {
  font-size: 72px;
  color: #68C5F9;
  text-align: right;
  margin-bottom: 12px;
  line-height: 72px;
}
.project .project-statics .project-static .count span {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
.project .project-statics .project-static p {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin-top: 4px;
  line-height: 14px;
}

@media screen and (max-width: 768px) {
  .project {
    padding-top: 0px !important;
  }
  .project h2 {
    margin-top: 50px;
    margin-bottom: 0px;
  }
  .project .project-static {
    margin-top: 56px;
  }
}
.info {
  display: flex;
  flex-direction: column;
  background-color: #FBFAF7;
  margin-top: 140px;
}
.info .info-img {
  background: url("../images/info-1.png") lightgrey 50%/cover no-repeat;
  width: 88%;
  aspect-ratio: 16/9;
  margin-left: auto;
  margin-top: -70px;
  margin-bottom: 50px;
}
.info .info-img-responsive {
  display: none;
}
.info .info-1-text {
  width: 61%;
  margin: 65px auto;
}
.info .info-1-text h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.info .info-1-text p {
  color: #000;
  font-size: 16px;
  line-height: 27.2px;
}
.info .info-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.info .info-1-all {
  display: flex;
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
  flex-wrap: nowrap;
}
.info .info-1-all:nth-child(odd) {
  flex-direction: row-reverse;
}
.info .info-1-all .info-1-all-image {
  width: 50%;
}
.info .info-1-all .info-1-all-image img {
  width: 100%;
}
.info .info-1-all .info-1-all-text {
  width: 50%;
  padding: 56px 78px;
  border-top: 1px solid #E4B271;
  border-bottom: 1px solid #E4B271;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.info .info-1-all .info-1-all-text h3 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin: 16px auto;
  text-align: left;
  width: 68%;
  line-height: 34px;
}
.info .info-1-all .info-1-all-text p {
  color: #000;
  line-height: 27.2px;
  width: 83%;
  margin: 0 auto;
  text-align: left;
}
.info .info-1-all .info-1-all-text p:nth-of-type(odd) {
  width: 70%;
}
@media screen and (max-width: 878px) {
  .info .info-img {
    display: none;
  }
  .info .info-img-responsive {
    display: flex;
    width: 100%;
    background: lightgray 50%/cover no-repeat;
  }
  .info .info-img-responsive img {
    width: 100%;
  }
  .info .info-1-all {
    flex-direction: column;
  }
  .info .info-1-all-text {
    width: 100% !important;
  }
  .info .info-1-all-text:nth-child(odd) {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .info .info-img-responsive {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: Montserrat;
  color: #fff;
  font-style: normal;
}

body {
  background-color: #0B1931;
  border-radius: 8px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
}

.section {
  max-width: 1920px;
  width: 93%;
  display: flex;
  padding-top: 150px;
  margin: 0 auto;
}

.btn {
  color: #0B1931;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  height: 40px;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #E4B271;
  border: none;
}
.btn:hover {
  transition: 0.3s ease-in-out;
  background-color: #dc9b46;
}

.specColor {
  color: #E4B271;
  font-weight: 600;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 14px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 14px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

/*# sourceMappingURL=styles.module.css.map */
