.gallery {
    padding: 100px 0 40px;

    .gallery-content {
        width: 92.5%;
        margin: 0 auto;
        height: 100%;

        .gallery-content_wrapper {
            display: flex;
            flex-direction: column;
            gap: 32px;

            h2 {
                font-size: 28px;
                line-height: 14px;
                text-transform: uppercase;
            }

            .gallery-filters {
                display: flex;
                gap: 16px;
                align-items: center;

                .gallery-filters_list {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    list-style: none;
                    flex-wrap: wrap;

                    .mobile {
                        display: none;
                    }

                    li {
                        padding: 8px 12px;
                        border: 1px solid #E4B271;

                        a {
                            font-size: 12px;
                            text-transform: uppercase;
                            text-decoration: none;
                        }
                    }
                }
            }

            .gallery-swiper {
                position: relative;

                .gallery-swiper_container {
                    height: 745px;

                    .swiper-slide {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .gallery-swiper_navigation {
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        transform: translateY(-50%);
                        z-index: 1;

                        .gallery-swiper_navigation-prev,
                        .gallery-swiper_navigation-next {
                            padding: 8px;
                            cursor: pointer;
                        }

                        .gallery-swiper_navigation-prev {
                            left: 0;
                        }

                        .gallery-swiper_navigation-next {
                            right: 0;
                        }
                    }

                    .gallery-swiper_pagination {
                        position: absolute;
                        bottom: 24px;
                        left: 16px;
                        z-index: 2;
                        display: flex;
                        flex-direction: column;
                        gap: 32px;
                        z-index: 1;

                        &--text {
                            display: flex;
                            gap: 10px;
                            font-size: 64px;
                            line-height: 100%;
                        }

                        &--filter {
                            p {
                                font-size: 20px;
                                line-height: 14px;
                            }
                        }

                        &--bullets {
                            display: flex;
                            gap: 4px;

                            .gallery-images_swiper-pagination-bullet {
                                width: 64px;
                                height: 2px;
                                background: white;
                                cursor: pointer;
                                transition: .3s linear;

                                &.swiper-pagination-bullet-active {
                                    background: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        h2 {
            text-align: center;
        }

        .gallery-content {
            width: 100%;

            .gallery-content_wrapper {
                .gallery-filters {
                    width: 95%;
                    margin: 0 auto;

                    ul {
                        flex-wrap: wrap;
                        justify-content: flex-end;

                        li {
                            width: 140px;
                            text-align: center;

                            &:nth-child(2) {
                                background-color: #e4b271;
                            }
                        }
                    }

                    .gallery-filters_list {
                        .mobile {
                            display: flex !important;
                        }
                    }
                }

                .gallery-swiper {
                    .gallery-swiper_container {
                        height: 350px;
                        display: flex;
                        flex-direction: column;

                        .swiper-slide {
                            height: 220px;
                        }

                        .gallery-swiper_navigation {
                            position: absolute;
                            right: 16px;
                            bottom: 16px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            z-index: 2;
                            top: 77% !important;
                        }

                        .gallery-swiper_pagination {
                            &--text {
                                font-size: 32px;
                            }

                            &--bullets {
                                display: none !important;
                                /* Hide pagination bullets */
                            }
                        }
                    }
                }
            }
        }
    }
}