@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, #fff0, #0b19317a 67.5%, #000009cc);
    background-blend-mode: multiply;
    z-index: 19;
    transition: 0.2s linear;
    flex-wrap: wrap;

    .header-container {
        margin: 0 auto;
        padding: 16px 24px 16px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .header-container--logo {
            display: flex;
            align-items: center;
            gap: 85px;

            .header-container--logo_l {
                width: 130px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 100%;
                    height: auto;
                }
            }

            .header-container--logo_tel {
                display: flex;
                gap: 7px;
                align-items: center;
                justify-content: center;

                .icon {
                    width: 14px;
                    height: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 100%;
                        height: auto;
                    }
                }

                .tel {
                    color: #e4b271;
                    font-size: 15px;
                    font-style: 600;
                    text-decoration: none;
                }
            }
        }

        .header-container--links {
            .header-container--links_wrapper {
                display: flex;
                align-items: center;
                gap: 24px;

                ul {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    gap: 24px;

                    li {
                        padding: 12px 10px;

                        a {
                            text-transform: uppercase;
                            color: #fff;
                            font-size: 12px;
                            line-height: 14px;
                            text-decoration: none;
                        }
                    }

                    .btn {
                        text-decoration: none;
                    }
                }
            }
        }

        .header-container--hamburger {
            display: none;

            .header-container--hamburger-wrapper {
                input {
                    border: none;
                    outline: none;
                    background-color: transparent;
                }

                .hamburger-menu {
                    width: 28px;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;
                    gap: 5px;
                    position: relative;

                    .bar {
                        position: relative;
                        width: 100%;
                        border-radius: 0.5rem;
                        background-color: #e4b271;
                        height: 2px;

                        .bar-1 {
                            top: 0;
                            transform: rotate(0);
                        }
                    }
                }
            }
        }

        .header-container--mobile {
            position: absolute;
            width: 100%;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: #fff;
            padding: 100px 0 48px 16px;
            transform: translateY(-100%);
            transition: transform 0.5s ease-in-out;

            .header-container--mobile-container {
                padding-top: 26px;
                display: flex;
                flex-direction: column;
                gap: 48px;
                height: 100%;
                overflow-y: scroll;
            }

            &.open {
                transform: translateY(0); 
            }

            .links-list {
                display: flex;
                flex-direction: column;
                gap: 24px;

                li {
                    a {
                        font-size: 26px;
                        text-transform: uppercase;
                        color: #0b1931;
                    }
                }
            }

            .btn {
                font-size: 12px;
                padding: 12px 16px;
                width: fit-content;
            }

            .socials-list {
                display: flex;
                gap: 16px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    header {
        background: #fff;
        background-blend-mode: normal;

        .header-container {
            position: relative;
            z-index: 4;
            background: #fff;

            .header-container--links {
                display: none;
            }

            .header-container--hamburger {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .header-container--logo {

            .header-container--logo_tel {
                display: none !important;
            }
        }
    }
}