.info {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin: 0 auto;
    background-color: #FBFAF7;
    padding-bottom: 338px;

    .info-img-text {
        display: flex;
        flex-direction: column;
        gap: 108px;

        .info-img {
            width: 90%;
            height: 700px;
            margin-left: auto;
            margin-top: -85px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .2s linear;
            }
        }

        .info-img-responsive {
            display: none;
        }

        .info-1-text {
            width: $info-text-width;
            margin: 0 auto;

            h3, p {
                color: $info-text-color;
                font-size: $info-text-font-size;
                margin-bottom: 16px;
            }

            h3 {
                font-weight: 600;
                line-height: $info-text-line-height;
                width: $info-text-width;
            }

            p {
                line-height: $info-text-line-height;

                &:nth-of-type(odd) {
                    width: $info-text-width;
                    align-items: flex-start;
                }
            }
        }
    }

    .info-1-all {
        display: flex;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;

        &:nth-child(odd) {
            flex-direction: row-reverse;

            .info-1-all-image {
                left: unset;
                right: 0;
            }

            .info-1-all-text {
                margin-right: auto;
                margin-left: unset;
                border: 1px solid #E4B271;
                align-items: flex-start; 
            }
        }

        .info-1-all-image {
            width: 50%;
            height: 420px;
            position: absolute;
            z-index: 3;
            top: -7%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .2s linear;
            }
        }

        .info-1-all-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            width: 800px;
            height: 358px;
            margin-left: auto;
            border: 1px solid #E4B271;
            padding: 44px 58px;
            align-items: flex-end; 

            h3, p {
                color: $info-text-color;
            }

            h3 {
                font-size: 20px;
                font-weight: 600;
                line-height: 34px;
                width: $info-text-width;
            }

            p {
                font-size: $info-text-font-size;
                line-height: $info-text-line-height;

                &:nth-of-type(odd) {
                    width: $info-text-width;
                    align-items: flex-start;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        gap: 40px;
        padding-bottom: 200px;

        .info-img-text {
            gap: 40px;

            .info-img {
                display: none;
            }

            .info-img-responsive {
                display: flex;
                width: 100%;
                background: lightgray 50% / cover no-repeat;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .info-1-text {
                width: 95%;

                p{
                    width: 100% !important;
                }
            }
        }

        .info-1-all {
            flex-direction: column;
            gap: 40px;
            height: auto;

            .info-1-all-image {
                width: 100%;
                position: static;
                height: auto;
            }

            .info-1-all-text {
                width: 95%;
                height: auto;
                margin: 0 auto;
                border: none;
                padding: 0;
                align-items: flex-start;

                h3 {
                    width: 80%;
                }

                p {
                    width: 100% !important;
                }
            }

            &:nth-child(odd) {
                .info-1-all-text {
                    width: 95%;
                    height: auto;
                    margin: 0 auto;
                    border: none;
                    padding: 0;
                    align-items: flex-start;

                    p{
                        width: 100%;
                    }
                }
            }
        }
    }
}