.project {
    text-align: center;
    flex-direction: column;
    padding-bottom: 100px;

    h2 {
        margin-bottom: 100px;
        margin-top: 140px;
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 500;
    }

    .project-statics {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 100px;
        flex-wrap: wrap;

        .project-static {

            .count {
                font-size: 72px;
                color: $count-color;
                text-align: right;
                margin-bottom: 12px;
                line-height: 72px;

                span {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 24px;
                }
            }

            p {
                font-size: 20px;
                text-align: center;
                font-weight: 600;
                margin-top: 4px;
                line-height: 14px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .project {
        padding-top: 0px !important;
        padding-bottom: 0px;

        h2 {
            margin-top: 50px;
            margin-bottom: 0px;
            font-size: 24px;
        }

        .project-static {
            margin-top: 56px;

            .count {
                font-size: 40px !important;
                line-height: 40px;
            }
        }
    }
}